<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Sese Hai" />
   <!--link href="http://feeds.feedburner.com/sesehai" rel="alternate" title="Sese Hai" type="application/atom+xml" /-->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  
</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Sese Hai</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Tom Preston-Werner<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        sesehai@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/sesehai/">github.com/sesehai</a><br />
      </p>
    </div>
    <div class="rss">
      <!--a href="http://feeds.feedburner.com/sesehai" -->
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      <!--/a-->
    </div>
  </div>
</div>

<a href="http://github.com/sesehai"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>